body[id^="page"] .sidebar { display: none; }
@media (min-width: 768px) {
  body[id^="page"] .sidebar { position: fixed; top: 0; bottom: 0; left: 0; z-index: 1000; display: block; padding: 20px; overflow-x: hidden; overflow-y: auto; background-color: #f5f5f5; border-right: 1px solid #eee; }
}
.nav-sidebar { margin-right: -21px; margin-bottom: 20px; margin-left: -20px; }
.nav-sidebar > li > a { padding-right: 20px; padding-left: 20px; }
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus { color: #fff; background-color: #428bca; }
.main { padding: 20px; }
@media (min-width: 768px) {
  .main { padding-right: 40px; padding-left: 40px; }
}
.main .page-header { margin-top: 0; }


#pagelogin { padding-top: 1%; }
#pagelogin .form-signin { max-width: 60%; padding: 1%; margin: 3% auto 0; }
#pagelogin .form-signin h2 { margin-bottom: 5%; }
#pagelogin .form-signin input { margin: 2% 0; }


#pagemyconsults .glyphicon-eye-open { color: #337ab7; }
#pagemyconsults .glyphicon-trash { color: #c9302c; }


#pagenewconsult form { width: 50%; margin: 0 auto; margin-top: 7%; }
#pagenewconsult form input { margin: 3% 0; }
#pagenewconsult .main ul { list-style: none; width: 50%; margin: 0 auto; margin-top: 6%; }
#pagenewconsult .main ul li { margin: 1% 0; }


#pageviewconsult .main ul { list-style: none; margin: 0 auto; margin-top: 6%; }
#pageviewconsult .main ul li { margin: 1% 0; }
